{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Calculate Distance
{% endblock title %}



{% block body %}

<style>
    body {
        background-color: #74B9FF;
    }
</style>

<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary"> Confirm </button>
</form>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Distance to {{destination}} is:  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{distance}} Km.
        </div>
      </div>
    </div>
  </div>


{{map|safe}}


<br>

This product includes GeoLite2 data created by MaxMind, available from
<a href="https://www.maxmind.com">https://www.maxmind.com</a>.


{% if request.POST and distance != None %}

<script>
    $(window).on('load', function(){
        $('#exampleModal').modal('show')
    })

</script>

    
{% endif %}
    

{% endblock body %}
    